.advertisement {
  padding: 0 20px 20px;
  background-color: @darken-grey;
}

.advertisement__content-container {
  margin: 0 auto;
}

.advertisement__caption-box {
  margin-bottom: 40px;
}

.advertisement__caption {
  .zero-list-styles();
  color: #000000;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  padding-top: 25px;
  text-align: left;
}

.advertisement__text {
  .zero-ph-styles();
  color: #444444;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 19px;
}

.advertisement__list {
  list-style-type: none;
  margin: 0 auto;
  margin-bottom: 34px;
}

.advertisement__cost {
  color: #000000;
  text-align: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.advertisement__text-wrapper {
  margin-bottom: 20px;
}

@media (min-width: @tablet-width) {
  .advertisement {
    padding: 0;
    background-color: inherit;
  }

  .advertisement__slider-wrapper {
    padding-bottom: 104px;
    background-image: linear-gradient(to top, #eaeaea 460px, #ffffff 460px);
    grid-column: 1/-1;
  }

  .advertisement__text-wrapper {
    margin-bottom: unset;
  }

  .advertisement__cost-description,
  .advertisement__cost-text {
    text-align: right;
    display: block;
    margin-bottom: 10px;
  }

  .advertisement__caption {
    font-size: 60px;
    line-height: 60px;
    text-align: left;

    padding: 0 30px;
  }

  .advertisement__caption-box {
    margin-bottom: 60px;
  }

  .advertisement__cost-box {
    padding: 30px;
    display: grid;
    grid-template-columns: 162px 162px 1fr;
    column-gap: 43px;
    margin-bottom: 32px;
  }


  .advertisement__text {
    grid-column: 1/ -1;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 26px;
    padding: 0 30px;
  }

  .advertisement__list {
    grid-row: 2/3;
    grid-column: 1/ 3;
  }

  .advertisement__cost {
    font-size: 20px;
    line-height: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 11px;
  }
}

@media (min-width: @desktop-width) {
  .advertisement {
    padding: 0;
    background-color: @darken-grey;
    position: relative;
    margin: 0 auto;
    padding-bottom: 25px;
  }

  .advertisement__cost-description {
    width: 173px;
  }

  .advertisement__slider-wrapper {
    background-image: none;
    position: absolute;
    top: -135px;
    right: 28px;
  }

  .advertisement__list {
    margin-left: unset;
    margin-right: unset;
    margin-bottom: 44px;
  }

  .advertisement__caption-box {
    background-color: #ffffff;
    margin-bottom: unset;
    padding-bottom: 73px;
  }

  .advertisement__caption {
    position: relative;
    z-index: 1;
    grid-column: 1/-1;
    padding: 0 30px;
    margin: 0 auto;
    width: 1280px;
  }

  .advertisement__caption-row {
    display: inline-block;
    width: 450px;
  }

  .advertisement__text {
    padding-top: 70px;
    max-width: 433px;
    margin-bottom: 53px;
    padding-left: unset;
    padding-right: unset;
  }

  .advertisement__content-container {
    width: 1280px;
    z-index: 2;
    position: relative;
  }

  .advertisement__wrapper {
    display: flex;
  }

  .advertisement__cost {
    grid-column: 1/-1;
    flex-direction: row;
    column-gap: 66px;
    width: 450px;
  }

  .advertisement__cost-box {
    display: unset;
  }

  .advertisement__cost-text {
    width: 171px;
    text-align: left;
  }

  .advertisement__text-wrapper {
    grid-template-columns: 191px 198px;
    padding: 0 30px;
  }
}
