.advertisements {
  display: flex;
  column-gap: 32px;
  flex-wrap: wrap;
  row-gap: 10px;
  justify-content: space-between;
}

.advertisements__wrapper {
  width: 124px;
  padding-top: 14px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
}

.advertisements__item {
  color: #000000;
  text-align: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  padding: 0 10px;
  margin-bottom: 7px;
}

.advertisements__description {
  color: @dark-grey;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 100% */
  text-transform: lowercase;
  margin: 0 auto -17px;
  width: 70px;
  padding: 0 8px;
  background-color: #eaeaea;
}

@media (min-width: @tablet-width) {
  .advertisements {
    column-gap: 43px;
  }

  .advertisements__item {
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 37px;
    margin-bottom: 10px;
  }

  .advertisements__description {
    font-size: 14px;
    line-height: 14px;
    width: 141px;
    background-color: #ffffff;
    margin: 0 auto -20px;
  }

  .advertisements__wrapper {
    width: 162px;
    padding-bottom: 14px;
  }
}


@media (min-width: @desktop-width) {
  .advertisements {
    justify-content: flex-start;
  }

  .advertisements__description {
    background-color: #eaeaea;
  }
}
