.advertisements {
  display: flex;
  column-gap: 32px;
  justify-content: space-between;
}

.advertisements__wrapper {
  width: 124px;
  padding-top: 14px;
}

.advertisements__item {
  color: #000000;
  text-align: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 7px;
}

.advertisements__description {
  color: @dark-grey;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 100% */
  width: 77px;
  margin: 0 auto;
  text-transform: lowercase;
  /*padding: 0 12px;*/
}

@media (min-width: @tablet-width) {
  .advertisements {
    column-gap: 43px;
  }

  .advertisements__item {
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 37px;
    margin-bottom: 12px;
  }

  .advertisements__description {
    font-size: 14px;
    line-height: 14px;
    width: 130px;
  }

  .advertisements__wrapper {
    width: 162px;
  }
}
