/*вкладывать медиа - запрос в элемент или элемент в медиа - запрос?*/
.body {
  display: flex;
  flex-direction: column;
}

.body__header {
  /*margin: 0 auto;/
}

.body__footer {
  /* margin: 0 auto;*/
}

.body__main {
  flex-grow: 1;
}

@media (min-width: @desktop-width) {
  .body__main {
    //margin-bottom: 42px;
  }
}
