/*вкладывать медиа - запрос в элемент или элемент в медиа - запрос?*/
.body__header {
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .body__header {
    width: 768px;
    padding: 0 30px;
  }
}

@media (min-width: @desktop-width) {
  .body__header {
    width: 1440px;
    padding: 0 110px;
  }
}
