.button {
  color: #ffffff;
  background-color: @basic-green;
  text-align: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
}
