.main__promo {
  position: relative;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .main__promo {
    width: 768px;
    padding: 0 30px;
  }
}

@media (min-width: @desktop-width) {
  .main__promo {
    flex-direction: row;
    width: 1440px;
    padding: 0 110px;
  }
}

.main__program {
  margin: 0 auto;
}
