

.promo__wrapper {
  display: grid;
  padding: 27px 0 0 0; /* проверь 6 px! 27px 0 6px 0;*/

  &::after {
    content: "";
    display: block;
    width: 100%;
    min-height: 275px;
    /*высота картинки... убрать?*/
    background-image: url("../img/can-mobile.png");
    background-repeat: no-repeat;
    background-position: center center;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/can-mobile@2x.png");
      background-size: 280px auto;
    }
  }
}

.promo__button {
  margin: 0 20px;
  display: block;
  grid-row: 4/5;
  padding: 10px 8px 10px 8px;
}

.promo__heading {
  color: #ffffff;
  text-align: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  margin: 0 auto;
  margin-bottom: 25px;
  min-height: 72px;
  background-size: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.promo__slogan {
  color: #ffffff;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  z-index: 2;
  min-height: 42px;
  margin: 0;
}

.promo__button-wrapper {
  padding: 20px;
  order: 2;
}

.promo__container--green-theme {
  background-image: url("../img/cat-background-mobile.jpg");
  background-position: 50% top;
  background-repeat: no-repeat;
  min-height: 175px;
  background-size: auto 63%;
}

@media (min-resolution: 2dppx) {
  .promo__container--green-theme {
    background-image: url("../img/cat-background-mobile@2x.jpg");
    background-size: 320px auto;
  }
}

@media (min-width: @tablet-width) {
  .promo__container {
    padding: 0 30px;
  }

  .promo__container--green-theme {
    background-image: none;
  }

  .promo__heading {
    color: #000000;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    min-height: 136px;
    margin: 0 0 25px 0;
    padding-left: 89px;
    padding-right: 42px;
  }

  .promo__slogan {
    color: #000000;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    min-height: 26px;
    padding-left: 90px;
    padding-right: 90px;
  }

  .promo__wrapper {
    /*position: static;*/
    /*padding: 38px 30px 13px 89px;*/
    padding-top: 37px;
  }

  .promo__wrapper::after {
    background-image: url("../img/can-tablet.png");
    min-height: 609px;
    background-position: left 0 top 13px;
    grid-column: 1/-1;
    grid-row: 3/5;
    margin: 0 auto;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/can-tablet@2x.png");
      background-size: 709px auto;
    }
  }

  .promo__button {
    grid-column-start: 1;
    grid-row-start: 3;
    margin: 45px 0 0 91px;
    padding: 16px 10px;
    width: 245px;
    font-size: 20px;
    line-height: 20px;
    align-self: flex-start;
    z-index: 1;
  }
}

@media (min-width: @desktop-width) {
  .promo__wrapper {
    grid-template-columns: 510px 522px;
    grid-template-rows: 55px minmax(161px, auto) minmax(27px, auto) auto;
    /*max-width: 1440px;
    padding: 6px 110px 0 160px;*/
    margin: 0 auto;
    width: 1280px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 183px;
    position: relative;
  }

  .promo__container {
    /*width: 1280px;*//*нарушает кота!*/
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0; /*обнулили паддинг таблет, возможно, нужно вернуть*/
  }

  .promo__wrapper::after {
    background-image: url("../img/can-desktop.png");
    grid-column: 2/3;
    grid-row: 1/5;
    position: absolute;
    z-index: 4;
    left: -63px;
    top: -31px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/can-desktop@2x.png");
      background-size: 552px auto;
    }
  }

  .promo__heading {
    grid-column: 1/2;
    grid-row: 2/3;
    padding-top: 10px;
    padding-bottom: 40px;
    padding-left: 80px;
    padding-right: 10px;
    margin-bottom: 0;
  }

  .promo__slogan {
    grid-column: 1/2;
    grid-row: 3/4;
    padding-left: 79px;
    padding-right: 80px;
  }

  .promo__button {
    grid-column: 1/2;
    grid-row: 4/5;
    margin-left: 78px;
  }

  .promo {
    position: relative;
  }

  .promo__container--green-theme::before {
    content: "";
    width: 50%;
    height: calc(100% + 122px);
    position: absolute;
    right: 0;
    top: -122px;
    background: url("../img/cat-background-desktop.jpg") no-repeat right top;
    background-size: cover;
    z-index: -1;
  }

  @media (min-resolution: 2dppx) {
    .promo__container--green-theme::before {
      background-image: url("../img/cat-background-desktop@2x.jpg");
    }
  }
}
