.card {
  /*padding: 19px 0 24px 0;*/
  border-bottom: 1px solid #ebebeb;
  padding-top: 19px;
  padding-bottom: 25px;
}

.card--show-more {
  padding-top: 78px;
}

.card__caption {
  margin: 0;
  padding: 0;
  color: #222222;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  /*max-width: 127px;*/
  padding: 2px 62px 2px 0;
}

.card__about,
.card__definition,
.card__description {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
}

.card__link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: inherit;
  /*width: 140px;
  height: 112px;*/
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  /*padding: 10px;*/
  width: 140px;
  height: 112px;
}

.card__caption-link {
  text-decoration: none;
  justify-content: flex-start;
  color: inherit;
  margin-bottom: 14px;
  display: block;
}

.card__image {
  display: block;
  object-fit: scale-down;
}

.card__about {
  display: flex;
  justify-content: space-between;
}

.card__wrapper {
  padding: 0 20px;
}

.card__wrapper--grid {
  grid-template-columns: 140px 1fr;
  display: grid;
  row-gap: 12px;
}

.card__catalog-link {
  grid-column: 1/-1;
  font-size: 16px;
}


@media (min-width: @tablet-width) {
  .card {
    border-bottom: none;
    padding-top: 0;
    padding-bottom: 39px;
  }

  .card__link {
    align-items: start;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 33px;
  }

  .card__caption {
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    padding: 3px 44px;
  }

  .card__wrapper--grid {
    row-gap: 0;
  }

  .card__caption-link {
    margin-bottom: 18px;
  }

  .card--before {
    position: relative;
  }

  .card--before::before {
    content: "";
    position: absolute;
    width: 100%;
    height: calc(100% - 71px);
    background-color: #f2f2f2;
    bottom: 0;
    left: 0;
  }

  .card--show-more {
    position: relative;
    padding-top: 72px;
  }

  .card__wrapper {
    grid-template-columns: 1fr;
    position: relative;
    z-index: 1;
    padding: 0 39px;
  }

  .card--show-more .card__wrapper {
    padding-top: 161px;
  }

  .card--show-more::before {
    content: "";
    height: calc(100% - 71px);
    position: absolute;
    width: 100%;
    background-color: #ffffff;
    border: 2px solid #f2f2f2;
  }


  .card__text-wrapper {
    margin-bottom: 27px;
  }

  .card__about {
    border-bottom: 1px solid #cdcdcd;
    padding-bottom: 8px;
    margin-bottom: 7px;
    font-size: 16px;
  }

  .card__definition,
  .card__description {
    font-size: 16px;
  }
}

@media (min-width: @desktop-width) {
  .card--before::before,
  .card--show-more::before {
    height: calc(100% - 80px);
  }

  .card__caption {
    padding: 0 15px;
    text-align: center;
  }

  .card__link {
    margin: 0 auto 41px;
  }

  .card {
    padding-bottom: 41px;
  }
}
