.catalog__products {
  margin: 0 auto;
  margin-bottom: 25px;
}

.catalog__extra {
  margin-bottom: 35px;
}

@media (min-width: @tablet-width) {
  .catalog__products {
    margin-bottom: 66px;
  }

  .catalog__extra {
    margin-bottom: 77px;
  }
}

@media (min-width: @desktop-width) {
  .catalog__products {
    margin-bottom: 76px;
  }

  .catalog__extra {
    margin-bottom: 77px;
  }
}
