.catalog-products__heading {
  padding: 27px 20px 41px;
}


@media (min-width: @tablet-width) {
  .catalog-products {
    padding: 0 30px;
    margin-bottom: 71px;
  }

  .catalog-products__heading {
    padding: 36px 20px 41px 0;
    margin-bottom: 55px;
  }
}

@media (min-width: @desktop-width) {
  .catalog-products {
    width: 1280px;
    margin-bottom: 76px;
  }

  .catalog-products__heading {
    padding: 63px 30px 36px 0;
    margin-bottom: 58px;
    width: 1220px;
  }
}
