.heading-extra {
  margin: 0;
  padding: 0;
  color: #000000;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  display: flex;
  column-gap: 20px;
  position: relative;
}

.heading-extra::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #68b738;
}

.heading-extra__text {
  display: inline-block;
  padding: 0 20px;
  background-color: #ffffff;
  position: relative;
  z-index: 2;
}

@media (min-width: @tablet-width) {
  .heading-extra__text {
    padding: 0 40px;
    width: 419px;
  }

  .heading-extra {
    font-size: 36px;
    line-height: 36px;
    padding-left: 30px;
  }

  .heading-extra::before {
    top: 22px;
  }
}

@media (min-width: @desktop-width) {
  .heading-extra__wrapper {
    width: 1300px;
    margin: 0 auto;
    display: block;
  }

  .heading-extra {
    padding-left: unset;
  }
}
