.text-input {
  width: 100%;
  display: flex;
  column-gap: 13px;
}

.text-input__input::-webkit-outer-spin-button,
.text-input__input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.text-input__label {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  padding-top: 12px;
  display: flex;
  align-items: flex-start;
  column-gap: 12px;
  position: relative;
  width: 100%;
}

.text-input__row {
  display: inline-block;
  padding-top: 13px;
  max-width: 92px;
}

.text-input__input {
  appearance: textfield;
  margin: 0;
  flex-grow: 1;
  height: 45px;
  border: 1px solid #e7e7e7;
  padding: 0 44px 0 16px;
  color: #444444;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  width: 100%;

  &:hover {
    border: 1px solid #cdcdcd;
  }

  &:focus,
  &:focus-visible {
    border: 2px solid #444444;
  }

  &:invalid {
    border: 2px solid #ff8282;
  }
}

//Цвет для спрайта в разметке
.text-input__svg {
  position: absolute;
  right: 12px;
  stroke: #000000;
  top: 25px;
}

.text-input__input:hover + svg,
.text-input__input:focus-visible + svg {
  stroke: #68b738;
}

.text-input__input:invalid + svg {
  stroke: #ff8282;
}

.text-input__input:invalid + .text-input__label--email::after {
  background-color: #ff8282;
}

@media (min-width: @tablet-width) {
  .text-input {
    column-gap: 13px;
  }

  .text-input__label {
    font-size: 20px;
    font-style: normal;
    padding-top: 0;
  }

  .text-input__row {
    padding-top: 17px;
    max-width: 118px;
  }

  .text-input__input {
    font-size: 20px;
    line-height: 18px;
    height: 52px;
    padding: 0 45px 0 19px;
  }

  .text-input__svg {
    right: 14px;
    top: 15px;
  }
}
