.text-input {
  width: 100%;
  display: flex;
  column-gap: 13px;
}

.text-input__label {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  padding-top: 12px;
  display: flex;
  column-gap: 10px;
  position: relative;
  width: 100%;
}

.text-input__input {
  flex-grow: 1;
  height: 45px;
  border: 1px solid #e7e7e7;
  padding: 0 15px 0 15px;
  margin: 0;
  color: #444444;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;

  &:hover {
    border: 1px solid #cdcdcd;
  }

  &:focus {
    border: 2px solid #444444;
  }

  &:invalid {
    border: 2px solid #ff8282;
  }
}

//Цвет для спрайта в разметке
.text-input__svg {
  position: absolute;
  right: 10px;
  stroke: #000000;
  top: 25px;
}

.text-input__input:hover + svg {
  stroke: blue;
}

.text-input__input:invalid + svg {
  stroke: #ff8282;
}

/*.text-input__label--phone::after {
  content: "";
  display: block;
  mask-image: url("../img/icons/sprite.svg#input-phone");
  background-color: #000000;
  mask-position: center;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 10px;
  top: 25px;
}

.text-input__input:hover + .text-input__label--phone::after svg {
  background-color: blue;
  stroke: orange;
}*/

.text-input__input:invalid + .text-input__label--email::after {
  background-color: #ff8282;
}

@media (min-width: @tablet-width) {
  .text-input {
    column-gap: 13px;
  }

  .text-input__label {
    font-size: 20px;
    font-style: normal;
    padding-top: 16px;
  }

  .text-input__input {
    font-size: 20px;
    line-height: 18px;
    height: 52px;
    padding: 0 15px 0 19px;
  }
}
