// Viewports
@tablet-width: 768px;
@desktop-width: 1440px;
/*@mobile-width-only: 767px;*/
/*зачем эта переменная?*/

//Colors for background
@basic-green: #68B738;
@basic-grey: #F2F2F2;
@dark-grey: #EAEAEA;

//colors for fonts
@black: #000000;
@dark-grey: #444444;
